.root {
  background-color: #3a3f58;
  padding: 15px 0;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: black;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 15px;
  text-decoration: none;

  &:hover {
    color: #ff0000; // Change the text color on hover
  }
}

.buttons {
  button {
    background-color: black;
    margin-left: 10px;
  }

  a {
    text-decoration: none;
  }
}
